.categories-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.category-card
{
    width: 200px;
}

.category-card a
{
    display: inline-block;
    text-decoration: none;
}

.category-card .card-footer
{
    display: flex;
    justify-content: end;
}

#category-body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    height: 150px;
}

#category-body img
{
    position: relative;
    top: -25px;
    width: 100%;
}

.add-form-screen
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #00000044 ;
    width: 100vw;
    height: 100vh;
}
.add-form
{
    width: 50vw;
    height: 50vh;
    margin: auto;
}