<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div>
    <form action="actors" method="get">
        <input type="text" name="last" placeholder="Last Name">
        <input type="submit" value="Search">
    </form>
</div>

<h1>List All Actors</h1>

<table>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last Name</th>
    </tr>

    <tr th:each="actor:${actors}" class="magenta">
        <td th:text="${actor.actorId}"></td>
        <td><a th:href="@{|/actors/${actor.actorId}|}"  th:text="${actor.firstName}"></a></td>
        <td th:text="${actor.lastName}"></td>
    </tr>
</table>
</body>
</html>