<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<a href="/actors">Back</a>


<h1>Actor Details</h1>

<div><strong>Id:</strong> <span th:text="${actor.actorId}"></span></div>
<div><strong>First Name:</strong> <span th:text="${actor.firstName}"></span></div>
<div><strong>Last Name:</strong> <span th:text="${actor.lastName}"></span></div>

</body>
</html>