<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Northwind</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Orders</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/orders/search/company">by Company Name</a>
                        <a class="dropdown-item" href="/orders/search/category">by Category</a>
                        <a class="dropdown-item" href="/orders/search/product">by Product</a>
                        <a class="dropdown-item" href="/orders/search/year">by Year</a>
                        <a class="dropdown-item" href="/orders/search/order-id">by Order Id</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown Filters</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/maps/search/company">by Company Name</a>
                        <a class="dropdown-item" href="/maps/search/category">by Category</a>
                        <a class="dropdown-item" href="/maps/search/product">by Product</a>
                        <a class="dropdown-item" href="/maps/search/year">by Year</a>
                        <a class="dropdown-item" href="/maps/search/order-id">by Order Id</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/reduce/search/company">by Company Name</a>
                        <a class="dropdown-item" href="/reduce/search/category">by Category</a>
                        <a class="dropdown-item" href="/reduce/search/product">by Product</a>
                        <a class="dropdown-item" href="/reduce/search/year">by Year</a>
                        <a class="dropdown-item" href="/reduce/search/order-id">by Order Id</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>