body {
    font-family: 'Futura', 'Helvetica', 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

#header-background {
    background-color: #0B648F;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin: 0;
    padding: 0;
}

#header-content {
    width: 1000px;
    margin: 0 auto; /* Center horizontally */
    padding: 12px; /* Add some padding to ensure spacing */
}

a
{
    text-decoration: none;
    color: white;
}

#top-nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#top-nav img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

#top-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#top-nav li {
    margin-right: 20px; /* Adjust spacing */
    cursor: pointer;
    font-size: 15px; /* Adjust font size */
}

#top-nav li:hover {
    background-color: #084767;
}

#top-background {
    background-color: rgb(246, 246, 246);
    padding: 20px 0; /* Optional: Add padding for spacing */
    width: 100%;
}

#pickup-info {
    width: 1000px;
    margin: auto;
    background-color: rgb(246, 246, 246);
}

#order-cost {
    background-color: white;
    border: rgb(246, 246, 246);
    border-width: 1px;
    display: flex;
    justify-content: space-between;
}

#blue-text
{
    color:#0c85c2;
}

#personal-info {
    width: 1000px;
    margin: auto;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: column  ;
}

#payment-info
{
    text-align: left;
    width: 1000px;
    margin: auto;
    background-color: white;
}

main {
    background-color: rgb(246, 246, 246); /* Apply light gray background to the main container */
    padding: 20px; /* Optional: Add padding to prevent content from touching the edges */
}

main p {
    padding: 0;
}

main h2 {
    background-color: #0B648F;
    color: white;
}

#personal-info, #payment-info {
    background-color: white;
}

#order-placement
{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: end;
}

main button
{
    background-color: #E21737;
    color: white;
    border: none;
    font-size: 24px;
    height: 60px;
    width: 400px;
    cursor: pointer;
    float: right;
}

main button:hover
{
    background-color: rgb(164, 17, 47);
}

footer {
    background-color: rgba(187, 187, 187, 0.572);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer strong {
    font-size: 15px;
}

footer li {
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(97, 96, 96);
}
