body
{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin-left: -40px;
}

li
{
    list-style: none; 

    padding: 10px;
    margin: 5px 0;

    border: solid 1px #bbb;
    border-radius: 3px;;
}
.links
{
    margin-top: 20px;
}